@font-face {
    font-family: 'ElMessiriBold';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/ElMessiri-Bold.ttf")
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}
